<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy/MM/dd HH:mm:ss.SSS}] {%thread} %-5level in %logger: %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.foursquare4j" level="all" />
    <logger name="org.apache.http" level="all" />
    <logger name="org.neo4j" level="all" />
    <logger name="org.springframework" level="all" />
    
    <root level="all">
        <appender-ref ref="console" />
    </root>
    
</configuration>